<p id="notice"><%= notice %></p>

<<<<<<< HEAD
<%= render @post %>

<h2>Comments</h2>
<div id="comments">
  <%= render @post.comments.reverse %>
</div>

<%= form_for [@post, Comment.new], remote: true do |f| %>
  <p>
    <%= f.label :body, "New Comment" %><br />
    <%= f.text_area :body %>
  </p>
  <p><%= f.submit "Add Comment" %></p>
<% end %>
=======
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>
>>>>>>> 3a29e83cd68e5dbbb7e7945b9469a3b4522885df

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
